.incorrectTableRow {
    background-color: #521515;

}

.titleRow {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 600px;
}

.tableContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
    border-radius: 1em;
    border: 1px solid #ffffff;
    padding: 1em;
}

.styledTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styledTable thead tr {
    text-align: left;
    border-spacing: 0;
    border-bottom: 1px solid #dddddd;
}

.styledTable th,
.styledTable td {
    padding: 12px 15px;
}

.styledTable tbody tr {
    border-bottom: 1px solid rgba(136, 138, 148, 0.25);
}

.toggleButton {
    background-color: black;
    padding: 0.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
}

.toggleButton:hover,
.toggleButton:active {
    color: #0070f3;
    border-color: #0070f3;
}

.styledTable tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

.styledTable tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

.styledTable tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.styledTable tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

